@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("../font/iranyekan/eot/iranyekanwebbold.eot");
  src: url("../font/iranyekan/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"), url("../font/iranyekan/woff/iranyekanwebbold.woff") format("woff"), url("../font/iranyekan/ttf/iranyekanwebbold.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("../font/iranyekan/eot/iranyekanwebthin.eot");
  src: url("../font/iranyekan/eot/iranyekanwebthin.eot?#iefix") format("embedded-opentype"), url("../font/iranyekan/woff/iranyekanwebthin.woff") format("woff"), url("../font/iranyekan/ttf/iranyekanwebthin.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("../font/iranyekan/eot/iranyekanweblight.eot");
  src: url("../font/iranyekan/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"), url("../font/iranyekan/woff/iranyekanweblight.woff") format("woff"), url("../font/iranyekan/ttf/iranyekanweblight.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("../font/iranyekan/eot/iranyekanwebregular.eot");
  src: url("../font/iranyekan/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"), url("../font/iranyekan/woff/iranyekanwebregular.woff") format("woff"), url("../font/iranyekan/ttf/iranyekanwebregular.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("../font/iranyekan/eot/iranyekanwebmedium.eot");
  src: url("../font/iranyekan/eot/iranyekanwebmedium.eot?#iefix") format("embedded-opentype"), url("../font/iranyekan/woff/iranyekanwebmedium.woff") format("woff"), url("../font/iranyekan/ttf/iranyekanwebmedium.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("../font/iranyekan/eot/iranyekanwebextrabold.eot");
  src: url("../font/iranyekan/eot/iranyekanwebextrabold.eot?#iefix") format("embedded-opentype"), url("../font/iranyekan/woff/iranyekanwebextrabold.woff") format("woff"), url("../font/iranyekan/ttf/iranyekanwebextrabold.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("../font/iranyekan/eot/iranyekanwebblack.eot");
  src: url("../font/iranyekan/eot/iranyekanwebblack.eot?#iefix") format("embedded-opentype"), url("../font/iranyekan/woff/iranyekanwebblack.woff") format("woff"), url("../font/iranyekan/ttf/iranyekanwebblack.ttf") format("truetype");
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url("../font/iranyekan/eot/iranyekanwebextrablack.eot");
  src: url("../font/iranyekan/eot/iranyekanwebextrablack.eot?#iefix") format("embedded-opentype"), url("../font/iranyekan/woff/iranyekanwebextrablack.woff") format("woff"), url("../font/iranyekan/ttf/iranyekanwebextrablack.ttf") format("truetype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: iranyekan;
  direction: rtl;
}
html:before,
body:before {
  content: "";
  content: "";
  width: 100%;
  height: 100vh;
  background: url("../img/22.png") repeat 0 0 #cae1f3;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -10;
  background-position: 50% 50%;
  background-size: 180px;
}

input:focus {
  outline: none;
}

.side-bars li {
  transition: all 450ms;
}
.side-bars li:hover {
  color: #2d78a1;
}

.login_register ul li {
  transition: all 450ms;
}
.login_register ul li:hover {
  color: #2d78a1;
}

.social_icons li {
  transition: all 700ms;
}
.social_icons li:hover {
  transform: scale(1.2);
}

.slider {
  background-image: url("../img/slider-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.slider_dot li {
  transition: all 700ms;
}
.slider_dot li:hover {
  transform: scale(1.2);
  color: #2d78a1;
}

.nav_bar_s li {
  transition: all 450ms;
}
.nav_bar_s li:hover {
  color: #2d78a1;
}

.footer_s {
  background: url("../img/footer-pattern.png") repeat 0 0 #153249;
  background-position: 50% 50%;
  background-size: 200px;
  background-repeat: repeat;
}/*# sourceMappingURL=style.css.map */